.authform
  %h3
    Edit #{resource_name.to_s.humanize}
  = form_for(resource, :as => resource_name, :url =>  employee_registration_path(resource_name, format: :html), :html => { :method => :put, :role => 'form'}) do |f|
    = devise_error_messages!
    .form-group
      = image_tag current_employee.avatar_path, alt: 'avatar', class:'img-responsive img-rounded', size: '150x200'
      - if current_employee.avatar.url.present?
        = f.label :remove_avatar 
        = f.check_box :remove_avatar 
      = f.file_field :avatar  
      = f.hidden_field :avatar_cache
    .form-group
      = f.label :email
      = f.email_field :email, :autofocus => true, class: 'form-control'
      - if devise_mapping.confirmable? && resource.pending_reconfirmation?
        %div
          Currently waiting confirmation for: #{resource.unconfirmed_email}
    %fieldset
      %p Leave these fields blank if you don't want to change your password.
      .form-group
        = f.label :password
        = f.password_field :password, :autocomplete => 'off', class: 'form-control'
      .form-group
        = f.label :password_confirmation
        = f.password_field :password_confirmation, class: 'form-control'
    %fieldset
      %p You must enter your current password to make changes.
      .form-group
        = f.label :current_password
        = f.password_field :current_password, class: 'form-control'
    = f.submit 'Update', :class => 'button right'