.authform
  = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :role => 'form'}) do |f|
    %h3 Zapomniałeś swoje hasło?
    %p System prześle na poniższy adres instrukcję resetowania hasła.
    = devise_error_messages!
    .form-group
      = f.label :email
      = f.email_field :email, :autofocus => true, class: 'form-control'
    = f.submit 'Resetuj Hasło', :class => 'button right'
