!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Crm'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Crm'}"}
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    %header
      = render 'layouts/navigation'
    %main{role: "main", class: 'application-main'}
      .container-fluid
        .row
          .col-lg-12
            = render 'layouts/messages'
        .row
          :javascript
            window.currentEmployeeId = "#{employee_signed_in? ? current_employee.id : 0}";
          = yield
        #ember-app
